.test {
  display: flex;
  padding: 5px;
  /* margin-left: 40px; */
  /* justify-content: center; */
  justify-content: space-around;
  align-content: space-around;

  flex-wrap: wrap;

  /* background-color: red; */
}

.one {
  /* background-color: red; */
  padding: 6px;
  margin-left: 4px;
}

.jugaad {
  height: 75px;
  margin-top: 15px;
  width: 2px;
  background-color: rgba(132, 132, 132, 0.527);
}

.one:hover {
  cursor: pointer;
  /* animation-name: bounce; */
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

.two {
  margin: 6px;
}

.testT {
  margin: 6px;
}

.testf {
  margin: 6px;
}

.icono {
  align-items: center;
  display: flex;
  justify-content: center;
}

.borderLeft {
  border-left: green solid 1px;
  position: absolute;
}

.fields {
  margin: 1vw;
}

.gridCenter {
  display: flex;
}

/* .buttonRow {
  display: flex;
  flex-wrap: wrap;
} */

.paperContainer {
  background-image: url("../../public/marriage1.jpg");
}

.chartDetails {
  width: "40vw";
  height: "40vh";
}