.goshwara tr td {
  border: 1px solid black;
  width: 50%;
}

.report {
  border: 1px solid black;
  width: 100%;
}

.trrow {
  display: flex;
}

.data {
  border: 1px solid black;
  width: 100%;
}

.data tr th {
  border: 1px solid black;
}

.dat1 .tdcard {
  display: flex;
  justify-content: center;
}

.tRcard {
  display: flex;
  justify-content: center;
}

.trrowf {
  display: flex;
  justify-content: flex-end;
}

.add {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  padding-left: 40px;
  margin-top: 2vh;
}

.add1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  padding-left: 40px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.date2 {
  /* margin-top: 2vh; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main {
  display: flex;
  margin-top: 2vh;
  margin: 10vh;
  /* border: 5px solid rgb(38, 0, 255); */
  justify-content: space-around;
  background-color: white;
}

.right {
  display: flex;
  margin: 1vw;
  margin-left: 2vw;

  padding: 1vh;
  border: 1px solid black;
}

.middle {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.left {
  width: 30%;
  margin-left: 3vw;
}

.logo {
  display: flex;
  flex-direction: column;

  width: 20%;
  margin: 1vw;
  margin-left: 0 !important;
  margin-bottom: 1vw;
  padding-left: 3vw;
}

.logo1 {
  display: flex;
  flex-direction: column;

  /* width: 20%; */
  margin: 1vw;
  margin-bottom: 1vw;
  /* padding-left: 20vh; */
}

.logoBar {
  display: flex;
  flex-direction: column;

  /* width: 20%; */
  margin: 1vw;
  margin-bottom: 1vw;
  padding-left: 3vh;
  padding-right: 2vh;
}

.small {
  display: flex;
  width: 85vw;
  flex-direction: column;
  border: 1px solid black;
}

.one {
  display: flex;
  justify-content: space-around;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  margin-top: 9vh;
}

.enquiry {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 5vh;
}

.date {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.heading {
  background-color: rgb(213 227 229);
  text-align: center;
  border: 1px solid black;
}

.table {
  border: 1px solid black;
}

.signature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-left: auto;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.date2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.date3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.date4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.report {
  border: 1px solid black;
  width: 90%;
  margin-left: 45px;
}

.report_table > thead > tr > th {
  border: 1px solid black;
}

.report_table > tbody > tr > td {
  text-align: center;
  border: 1px solid black;
}

.report_table > tbody > tr > th {
  text-align: center;
  border: 1px solid black;
}

.report_table > thead > tr > td {
  border: 1px solid black;
  text-align: center;
}

.report_table > thead {
  width: 80%;
}

.report_table {
  width: 90%;
  /* margin-left: 40px;
  margin-top: 20px; */
  margin-bottom: 10px;
}

.foot {
  display: flex;

  align-items: center;
}
