.main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.uploadButton:hover {
  cursor: pointer;
}

.uploadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 5px 5px;
}

.file {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.fileName {
  color: #9c27b0;
  font-size: 12;
  font-weight: bold;
}

.fileName:hover {
  color: #9c27b0;
  font-size: 12;
  font-weight: bold;
}

.align {
  display: flex;
  align-items: center;
}

.afterUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400;
  font-size: medium;
}

.attachFile {
  display: flex;
  flex-direction: column;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px; */
}

.mainButton {
  /* width: 50%; */

  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.Button {
  width: 125;
  margin-bottom: 10px;
}
