.main {
  padding: 3%;
}

.title {
  display: grid;
  place-items: center;

  height: 50px;

  background-color: #1976d2;
  color: white;

  text-transform: uppercase;
  font-weight: 500;
  font-size: larger;

  border-radius: 100px;
}

.subTitle {
  display: grid;
  place-items: center;

  background-color: #1976d2;
  color: white;
  margin-top: 20px;
  height: 30px;

  text-transform: uppercase;
  font-weight: 500;
  font-size: medium;
  border-radius: 100px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  padding: 0% 3%;
}

.buttons {
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
}

.upi {
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
}
