.details {
    background: linear-gradient(90deg,
            rgb(7 110 230 / 91%) 2%,
            rgb(210 242 249) 100%);

    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-left: 25px; */
    height: 6vh;
}

.h1Tag {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

.row {
    margin-top: 1vh;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row1 {
    margin-top: 1vh;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row4 {
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row5 {
    /* margin-top: 1vh; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.appDetails {
    text-align: left;
    padding: 34px;
}

