.main {
    padding: 3%;
  }
  
  .title {
    background-color: #1976d2;
    color: white;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: larger;
    border-radius: 20px;
  }
  
  .subTitle {
    background-color: #1976d2;
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: medium;
    border-radius: 10px;
  }
  
  .subHeader {
    width: 100%;
    margin: 2% 0%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: medium;
  }
  
  .content {
    margin: 40px;
  }
  
  .table {
    width: 100%;
    margin-top: 40px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }
  
  .twoFields {
    display: flex;
    column-gap: 12.3vw;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }
  
  .bigText {
    display: block;
    width: 100%;
    padding: 10px 15px;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-size: medium;
  
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 1.5px solid grey !important;
  }
  
  .buttons {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
  }
  
  .terms {
    width: 100%;
  }
  