.goshwara tr td {
  border: 1px solid black;
  width: 100%;
}
.report {
  border: 1px solid black;
  width: 100%;
}
.trrow {
  display: flex;
  justify-content: flex-end;
}
.data {
  border: 1px solid black;
  width: 100%;
}

.data tr th {
  border: 1px solid black;
}

.dat1 .tdcard {
  display: flex;
  justify-content: center;
}
.tRcard {
  display: flex;
  justify-content: center;
}
.trrowf {
  display: flex;
  justify-content: flex-end;
}
.one {
  border: 1px solid black;
  background-color: darkgrey;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
}
.two {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.three {
  border: 1px solid black;
  background-color: darkgrey;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 20px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.demo {
  font-size: larger;
}
.data1 {
  font-size: 15px;
}
