.Paper {
  padding: 5vh 5vw;
}

.Stack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10vh 2vw 4vh 0vw;
}

.Table {
  width: 100%;
  border-collapse: separate;
  padding: 5vh 5vw;
  background-color: white;
}

.Prati {
  font-weight: bold;
  padding: 2vh 5vw 0vh 0vw;
  font-size: 15px;
}

.Shree {
  font-weight: bold;
  padding: 0.5vh 5vw 0vh 0vw;
  font-size: 15px;
}

.Pata {
  font-weight: bold;
  padding: 0.5vh 5vw 1vh 0vw;
  font-size: 15px;
}

.Subject {
  font-weight: bold;
  text-align: center;
  padding: 1.5vh 0vw 1vh 0vw;
  font-size: 18px;
}

.Paragraph1 {
  font-size: 15px;
}

.Li {
  font-size: 15px;
}

.Paragraph2 {
  padding: 0vh 0vw 15vh 0vw;
  font-size: 15px;
}

.SahyakMandalAdhikari {
  text-align: right;
  font-weight: bold;
  padding: 0vh 5vw 0vh 0vw;
  font-size: 15px;
}
.VibhagiyKarayalay {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
}
.Pimpari {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
}

.Dinak {
  padding: 1.5vh 0vw 0vh 0vw;
  font-weight: bold;
  font-size: 15px;
  width: 30%;
}

.kavi {
  padding: 1.5vh 0vw 0vh 0vw;
  font-weight: bold;
  font-size: 15px;
  width: 40%;
}

.Kramank {
  padding: 1.5vh 0vw 0vh 0vw;
  font-weight: bold;
  font-size: 15px;
  width: 30%;
}

.hrLineHeadingBelow {
  border-bottom: 2px solid black;
  padding: 2vh 0vw 0vh 0vw;
}

.HeaderDIV2 {
  width: 60%;
}

.Header11 {
  display: flex;
  padding: 0vh 0vw 0vh 5vw;
}

.HeaderDIV3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MHeader1 {
  font-size: 20px;
  font-weight: bold;
  padding: 0.5vh 0vw 0vh 0vw;
}

.MHeader2 {
  font-size: 18px;
  font-weight: bold;
  padding: 1vh 0vw 0vh 0vw;
}

.MHeader3 {
  font-size: 15px;
  font-weight: bold;
  padding: 1vh 0vw 0vh 0vw;
}

.PcmcLogo {
  width: 8vw;
  height: 15vh;
}

/* Only for Print */

@media only print {
  .PcmcLogo {
    width: 9vw;
    height: 10vh;
    padding: 3vh 0vw 0vh 0vw;
  }

  .HeaderDIV2 {
    width: 80%;
  }

  .Table {
    width: 100%;
    border-collapse: separate;
    padding: 2vh 5vw 2vh 5vw;
    /* background-color: red; */
  }

  .Prati {
    font-weight: bold;
    padding: 2vh 5vw 0vh 0vw;
    font-size: 13px;
  }

  .Shree {
    font-weight: bold;
    padding: 0.5vh 5vw 0vh 0vw;
    font-size: 13px;
  }

  .Pata {
    font-weight: bold;
    padding: 0.5vh 5vw 1vh 0vw;
    font-size: 13px;
  }

  .Subject {
    font-weight: bold;
    text-align: center;
    padding: 1.5vh 0vw 1vh 0vw;
    font-size: 15px;
  }

  .Paragraph1 {
    font-size: 13px;
  }

  .Li {
    font-size: 13px;
  }

  .Paragraph2 {
    padding: 0vh 0vw 15vh 0vw;
    font-size: 13px;
  }

  .SahyakMandalAdhikari {
    text-align: right;
    font-weight: bold;
    padding: 0vh 5vw 0vh 0vw;
    font-size: 13px;
  }
  .VibhagiyKarayalay {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
  }
  .Pimpari {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
  }

  .Dinak {
    padding: 1vh 0vw 0vh 0vw;
    font-weight: bold;
    font-size: 13px;
    width: 30%;
  }

  .kavi {
    padding: 1vh 0vw 0vh 0vw;
    font-weight: bold;
    font-size: 13px;
    width: 40%;
  }

  .Kramank {
    padding: 1vh 0vw 0vh 0vw;
    font-weight: bold;
    font-size: 13px;
    width: 30%;
  }

  .hrLineHeadingBelow {
    border-bottom: 2px solid black;
    padding: 2vh 0vw 0vh 0vw;
  }

  .Header11 {
    display: flex;
    padding: 0vh 0vw 0vh 5vw;
  }

  .HeaderDIV3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .MHeader1 {
    font-size: 18px;
    font-weight: bold;
    padding: 2.5vh 0vw 0vh 0vw;
  }

  .MHeader2 {
    font-size: 15px;
    font-weight: bold;
    padding: 0vh 0vw 0vh 0vw;
  }

  .MHeader3 {
    font-size: 13px;
    font-weight: bold;
    padding: 0.5vh 0vw 0vh 0vw;
  }
}
