.main {
  /* padding: 5px; */
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}
.fpaper {
  padding: 5px;
  display: flex;
}
.spaper {
  padding: 5px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  /* justify-content: center; */
  justify-content: space-evenly;
}
.small {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.addbtn {
  display: flex;
  justify-content: flex-end;
  margin: 2vh;
  margin-right: 40px;
}

.titleM {
  display: flex;
  margin: 2vh;
  margin-right: 40px;
  justify-content: space-around;
}
.row {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row1 {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wardZone {
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3vh;
}

.row2 {
  margin-top: 5vh;
  flex-wrap: wrap;
  margin-left: 80px;
}

.second {
  display: flex;
  justify-content: space-evenly;
}
.paperCenter {
  display: flex;
  justify-content: center;
}
.tableButton {
  display: flex;
  justify-content: space-evenly;
}
.Button1 {
  display: flex;
  margin-bottom: 5px;
}

.title {
  margin-top: 5vh;
  margin-left: 15vh;
}

.row3 {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.uploadButton:hover {
  cursor: pointer;
}

.uploadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 5px 5px;
}

.fileName {
  color: #9c27b0;
  font-size: 12;
  font-weight: bold;
}

.align {
  display: flex;
  align-items: center;
}

.slot {
  display: flex;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.box {
  flex-direction: column;
  display: flex;
  background-color: whitesmoke;
  margin-left: 25%;
  margin-top: 15%;
  overflow-y: hidden;
  resize: none;
  height: 250px;
  width: 800px;
  position: 'absolute';
}
.btnappr {
  display: flex;
  justify-content: flex-end;
  margin: 3vh;
  background-color: #e6e6fa;
}
.titleM {
  display: flex;
  margin: 2vh;
  margin-right: 40px;
  justify-content: space-around;
}

.titlemodelT {
  display: flex;
  margin: 3vh;
  justify-content: space-between;
  background-color: #9c27b0;
}

/* .titlemodelB {
  display: flex;
  margin: 3vh;
  justify-content: space-around;
  background-color: #e6e6fa;
} */

.btnSerch {
  margin-top: 18px;
}

.btndate {
  margin-top: 8px;
}
