.rowGreen {
  color: white;
  background-color: green;
} 
.rowYellow {
  color: black;
  background-color: yellow;
} 

.rowGray {
  color: white;
  background-color: blueviolet;
} 

.rowPink {
  color: white;
  background-color: cadetblue;
} 
.rowOrange {
  color: white;
  background-color: orange;
} 
.rowIvory {
  color: black;
  background-color: ivory;
} 
