.main {
  padding: 1vw 1vw;
}

.fields {
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 2%;
}

.fieldsStepper {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
  margin-top: 2%;
}

.leftSide {
  width: 59%;

  padding: 1.5vw 3vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  align-items: center;
}
.rightSide {
  width: 39%;

  padding: 2vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.secondLine {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fourthLine {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  margin-bottom: -2%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

.right {
  width: 35vw;
  height: 85vh;
  margin-left: 2vw;
  margin-right: 3vw;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2vw;
}
