/* .uploadButton:hover {
  cursor: pointer;
}

.uploadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 5px 5px;
}

.fileName {
  color: #9c27b0;
  font-size: 12;
  font-weight: bold;
}

.align {
  display: flex;
  align-items: center;
} */
.uploadButton:hover {
  cursor: pointer;
}

.uploadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 5px 5px;
}

.fileName {
  color: #9c27b0;
  font-size: 12;
  font-weight: bold;
}

.align {
  display: flex;
  align-items: center;
}



.align1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1vh 0vw 0vh 5vw;
}



@media only screen and (max-width:1400px){

.align1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
    padding: 1vh 0vw 0vh 5vw;
}




}


@media only screen and (min-width:1400px){

.align1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
    padding: 1vh 0vw 0vh 7vw;
}




}

@media only screen and (max-width:480px){

.align1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
    padding: 1vh 0vw 0vh 13vw;
}




}