
.Paper{
    padding: 3.5vh 0;
}

.GridItem{
    display: flex;
    justify-content: center;
    align-items: center;
}


.SearchHeader{
    display: flex;
    justify-content: center;
}


.HideComponent{
    display: none;
}


.hrUpper{
  border-top:3px solid black ;
  margin: 5vh 0;
}


.DepartmentCategoryName{
    font-size: 20px;
    font-weight: bolder;
    margin: 5vh 0;
    text-align: center;
}

.MainDiv{
    margin: 3% 5% ;
}
.table{
    width: 100%;
}


.Table1Header{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 2vh 0vw;
    width: 100%;
}

.TableTh{
    font-weight: bold;
}

.TableTd{
    border: 1px solid black;
    text-align: center;
    padding: 0.5vh 0.5vw;
    color: black;
    font-size: 15px;
}


.GridItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancy_link1 {
    background-image: linear-gradient(red, blue);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
    text-decoration: none;
    width: "80%";
    word-spacing: 3px;
    letter-spacing: 1px;
  }
  .fancy_link1:hover {
    background-size: 100% 3px;
    font-weight: 700;
    font-size: 18;
  }