/* .logo {
  background-color: aqua;
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.middle {
  display: flex;
  background-color: darkblue;
  width: 20vw;
  flex-direction: column;
}
.middlee {
   background-color: darkgrey; 
 }

.main {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
}
.left {
  display: flex;
  background-color: brown;
  flex-direction: column;
  justify-content: center;
}
.right {
  display: flex;
  align-items: center;
  background-color: coral;
}
.title {
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  display: flex;
  justify-content: space-around;
} */

/* ////////////////////////////////// */
/* 
.mainn {
  display: flex;
  justify-content: space-around;

  justify-content: space-evenly;
}
.middlee {
  display: flex;
  width: 52vw;
  flex-direction: column;
  justify-content: space-between;
}
.leftt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vh;
}
.rightt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upperdivv {
  display: flex;
  justify-content: space-between;
}
.lowerdivv {
  display: flex;
  flex-direction: column;
}
.h3 {
  align-items: center;
} */

.logo {
  display: flex;
}

.bInfo {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.query {
  background-color: lightgray;
  display: flex;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.h5 {
  background-color: darkgrey;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.add {
  margin-top: 60px;
  text-align: right;
  
}

.add1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  padding-left: 40px;
  margin-top: 2vh;
  margin-bottom: 2vh;


}

/* .add h5 {
  color: white;
} */
.summary {
  background-color: lightblue;
}

.summ {
  display: flex;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.heading {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.table {
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.mainn {
  display: flex;

  justify-content: space-evenly;
  /* border: 1px solid black; */
}

.main {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  /* display: flex;
  padding: 10%; */
}

.smain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.end {
  margin-top: 5vh;
  text-align : right;
  margin-right :6vh
}


.sHeading {
  display: flex;
  background-color: gray;
}

.one {
  display: flex;
  justify-content: space-around;
  /* margin: auto; */
  /* border: 1px solid black; */
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.middle {
  /* background-color: darkolivegreen; */
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  /* justify-content: center; */
  /* justify-content: center; */

  /* align-items: center; */
}

.foot {
  display: flex;
  /* align-content: center; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}