.goshwara tr td {
  border: 1px solid black;
  width: 50%;
}
.report {
  border: 1px solid black;
  width: 100%;
}
.trrow {
  display: flex;
}
.data {
  border: 1px solid black;
  width: 100%;
}

.data tr th {
  border: 1px solid black;
}

.dat1 .tdcard {
  display: flex;
  justify-content: center;
}
.tRcard {
  display: flex;
  justify-content: center;
}
.trrowf {
  display: flex;
  justify-content: flex-end;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.two {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}
