.main {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 1%;
}

.title {
  background-color: #556cd6;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 750;
  font-size: larger;
  border-radius: 20px;
}

.content {
  margin: 40px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 20px;
  /* border: 1px solid red; */
  gap: 20px;
}

.buttons {
  width: 100%;
  margin-top: 5vh;

  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.checkBoxLabel {
  font-size: medium;
  font-weight: bold;
  /* color: rgba(0, 0, 0, 0.4); */
}

.alignContainer {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.bigText {
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;

  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: medium;

  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border: 1.5px solid grey !important;
}

.searchIcon {
  background-color: #556dd680;
  color: white;
}

.searchIcon:hover {
  background-color: #556cd6;
}
