.main {
  padding: 3%;
}
.sub {
  padding: 3%;
  margin-top: 2%;
}

.row {
  margin-top: 5vh;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.endDiv {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 3%;
}

.card {
  min-width: 100px;
  padding: 20px;
  background-color: #1976d2;
  color: white;

  border-radius: 20px;

  display: flex;
  justify-content: center;

  font-size: medium;
  text-transform: uppercase;

  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none;
}

.card:active {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2) inset;
}
